*.bak
*.log
*.out
*.aux
*.bbl
*.blg
*.pag
*.toc
*.xdv
*.pdf
*.dvi
*.fls
/.aspell*
/*.synctex.gz
*.fdb_latexmk
_minted-*

# Tex Studio files
*.txss2

# from https://gist.githubusercontent.com/kogakure/149016/raw/a962a0494b934ec40b631a5e5f006d441bbab926/.gitignore
*.acn
*.acr
*.alg
*.aux
*.bak
*.bbl
*.bcf
*.blg
*.brf
*.bst
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lol
*.lot
*.maf
*.mtc
*.mtc1
*.nav
*.nlo
*.nls
*.out
*.pdf
*.pyg
*.run.xml
*.snm
*.synctex.gz
*.tex.backup
*.tex~
*.thm
*.toc
*.vrb
*.xdy
*.xml
*blx.bib
.bak
.mtc
build/

.vscode

!ugost2008ls.bst
